---
import { Image } from "astro:assets";
const {title, image, link} = Astro.props;

---

<a href={link} style="margin-bottom:3rem; text-decoration:none;">
  <h2 style="margin-top:0px;">{title}</h2>
  <Image 
    transition:name="fade" 
    src={image} 
    class="img-full dull" 
    style="object-fit:cover;height:300px;" 
    alt={title}
  />
</a>
